
.App {
  display: flex;
  flex-direction: column;
  
}

nav {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  
}

.headline {
  background-color: rgb(41, 41, 43);
  /* background-image: url('../public/logo512.png'); */
  height: 50vh;
  padding: 2%;
  border: 20px solid white;
  color: white;
}

#gallery {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;

}

#gallery img {
  height: 15vh;
}

#gallery p {
  font-size: small;
}
